/*
#fixed-menu {
  width: 100%;
  background-color: #ffffff;
  opacity: 0.85;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 0 1px 2px 0 #777;
  box-shadow: 0 1px 2px 0 #777;
}
#main-content {
  width: 100%;
  margin-top: 155px;
}
*/